section {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

section h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

section h1 span {
    color: #ff8008;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
    gap: 20px;
}

.form label{
    font-size: 2rem;
    display: grid;
}

.form label textarea {
    border: 2px solid #ff8008;
    margin-top: 10px;
    font-size: 1rem;
    border-radius: 4px;
    width: 500px;
}

.form label input{
    width: 200px;
    height: 20px;
    border: 2px solid #ff8008;
    border-radius: 4px;
    padding-top: 10px;
    place-items: center;
    margin-top: 10px;
    font-size: 1rem;
}

.form label select {
    border: 2px solid #ff8008;
    margin-top: 10px;
    font-size: 1rem;
    border-radius: 4px;
    width: 500px;
    height: 30px;
}

.form button {
    background-color: rgb(95, 167, 255);
    color: black;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: 2px solid rgb(0, 73, 134);
    border-radius: 4px;
    justify-self: start;
    cursor: pointer;
}

.form button:hover {
    background-color:rgb(57, 101, 154) ;
}