<footer class="footer">
    <p>Todos os direitos reservados @DiegoChaves.</p>
    <div>
        <h1>Contatos</h1>
        <ul>
            <li><a href="https://www.linkedin.com/in/diegochavesaraujo/">LinkedIn <img src="assets/imgs/linkedin.svg" alt=""></a></li>
            <li><a href="https://github.com/Dieg0Ch4ves">Github <img src="assets/imgs/github.svg" alt=""></a></li>
            <li>Email: <a href="">diegoaraujo200570@gmail.com</a><img src="assets/imgs/email.svg" alt=""></li>
        </ul>
    </div>
</footer>